@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ml-5">
    <div class="d-flex justify-content-between">
        <h1 class="mb-lg-5">Welcome Steven</h1>
        <div class="mr-5">
            <h3>@Model.DateTime</h3>
        </div>
    </div>

    <div class="card-deck mb-5">

        <div class="card">

            <div class="card-body">
                <i class="fa fa-spinner fa-spin" style="font-size:80px; color:purple;"></i>


                <h3 class="card-title">Serendipity 84%</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/heart.gif" style="width:80px; height:80px;" />

                <h3 class="card-title">Heart rate 80 bpm</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/footstep.png" style="width:80px; height:80px;" />



                <h3 class="card-title">Steps 5000</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/bloodSat.png" style="width:80px; height:80px;" />

                <h3 class="card-title">Blood saturation 95%</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
    </div>
    <div class="card-deck">

        <div class="card">

            <div class="card-body">
                <img src="~/Resource/icons8-blood-pressure-64.png" style="width:80px; height:80px;" />



                <h3 class="card-title">Blood pressure 84 mmHg</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/icons8-address.gif" style="width:80px; height:80px;" />

                <h3 class="card-title">Position 18°54'49.25\"S, 47°32'10.07\"E. </h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/icons8-battery-level.gif" style="width:80px; height:80px;" />



                <h3 class="card-title">Batery 60%</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <img src="~/Resource/icons8-alert-64.png" style="width:80px; height:80px;" />


                <h3 class="card-title">Allarms -%</h3>


                <footer><small class="text-muted">Last updated 3 mins ago</small></footer>
            </div>
        </div>
    </div>

</div>