@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Page"] = "home";
}

<div class="ml-5">
    <div class="d-flex justify-content-between">
        <h1 class="mb-lg-5">Welcome @Model.User.Identity.Name.ToUpper()</h1>
        <div class="mr-5">
            <span id="day"></span>
            <h3 id="clock"></h3>
        </div>
    </div>

    <div class="card-deck mb-5">

        <div class="card shadow border-info text-white" style="background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(179,56,56,1) 0%, rgba(81,9,121,1) 100%, rgba(0,212,255,1) 100%);">

            <div class="card-body">
                <i class="fa fa-spinner fa-spin" style="font-size:80px; color:orangered;"></i>


                <h3 class="card-title">Serendipity <span id="serendipity">84</span><span>%</span></h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow border-danger text-white" style="background: linear-gradient(90deg, rgba(186,130,127,1) 0%, rgba(150,75,75,1) 72%);">

            <div class="card-body">
                @*<img src="~/Resource/heart.gif" style="width:80px; height:80px;" />*@
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" color="#f45353" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
                </svg>

                <h3 class="card-title">Heart rate <span id="heartRate">84</span> <span>bpm</span></h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow text-white" style="background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,141,69,1) 0%, rgba(38,107,136,1) 100%);">

            <div class="card-body">
                <img src="~/Resource/footstep.png" style="width:80px; height:80px;" />



                <h3 class="card-title">Steps <span id="steps">84</span></h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow text-white">

            <div class="card-body" style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);">
                <img src="~/Resource/bloodSat.png" style="width:80px; height:80px; color:white" />

                <h3 class="card-title">Blood saturation <span id="bloodSat">84</span> <span>%</span></h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
    </div>
    <div class="card-deck">

        <div class="card shadow border-success text-white" style="background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(191,14,185,1) 65%, rgba(191,14,14,1) 100%);">

            <div class="card-body">
                <img src="~/Resource/icons8-blood-pressure-64.png" style="width:80px; height:80px;" />



                <h3 class="card-title">Blood pressure <span id="systolicPress">84</span> <span>mmHg</span></h3>


                <footer><small class=" ">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow border-secondary text-white" style="background: linear-gradient(90deg, rgba(144,211,235,1) 0%, rgba(14,191,143,1) 69%, rgba(14,191,131,1) 100%);">

            <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" color="#228dda" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                @*<img src="~/Resource/position-26.png" style="width:80px; height:80px; color:white" />*@
                <h3 class="card-title">Position 18°54'49.25\"S, 47°32'10.07\"E </h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow border-info text-white" style="background: linear-gradient(90deg, rgba(177,144,235,1) 0%, rgba(191,149,14,1) 100%, rgba(161,149,17,1) 100%);">

            <div class="card-body">
                @*<img src="~/Resource/icons8-battery-level.gif" style="width:80px; height:80px;" />*@
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" color="blue" class="bi bi-battery-half" viewBox="0 0 16 16">
                    <path d="M2 6h5v4H2V6z" />
                    <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h10zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z" />
                </svg>


                <h3 class="card-title">Battery <span id="battery">84</span> <span>%</span></h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
        <div class="card shadow border-warning text-white" style="background: linear-gradient(90deg, rgba(235,144,144,1) 0%, rgba(191,155,14,1) 69%, rgba(161,107,17,1) 100%);">

            <div class="card-body">
                <img src="~/Resource/icons8-alert-64.png" style="width:80px; height:80px;" />


                <h3 class="card-title">Allarms <span id="allarms">84</span> </h3>


                <footer><small class="text-white">Last updated 3 mins ago</small></footer>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">




    setInterval(UpdateHour, 1000);
    //setInterval(UpdateDash, 2000);
    setInterval(UpdateDashFake, 5000);

    function UpdateHour() {
      const d = new Date();
      document.getElementById("clock").innerHTML = d.toLocaleString();
    }


    function UpdateDashFake(){
         document.getElementById("serendipity").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("heartRate").innerHTML = Math.floor(Math.random() * 200);
         document.getElementById("steps").innerHTML = Math.floor(Math.random() * 10000);
         document.getElementById("bloodSat").innerHTML = Math.floor(Math.random() * 110);
         document.getElementById("systolicPress").innerHTML = Math.floor(Math.random() * 200);
         document.getElementById("dyastolicPress").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("battery").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("allarms").innerHTML = Math.floor(Math.random() * 10);
    }

    function UpdateDash(){
    const xhr = new XMLHttpRequest()
    //open a get request with the remote server URL
    xhr.open("GET", "https://world.openfoodfacts.org/category/pastas/1.json")
    //send the Http request
    xhr.send()

    //EVENT HANDLERS

    //triggered when the response is completed
    xhr.onload = function() {
      if (xhr.status === 200) {
        //parse JSON datax`x
        data = JSON.parse(xhr.responseText)
        console.log(data.count)
        console.log(data.products)
        // Here update value of the dash
         document.getElementById("serendipity").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("heartRate").innerHTML = Math.floor(Math.random() * 200);
         document.getElementById("steps").innerHTML = Math.floor(Math.random() * 10000);
         document.getElementById("bloodSat").innerHTML = Math.floor(Math.random() * 110);
         document.getElementById("SystolicPress").innerHTML = Math.floor(Math.random() * 200);
         document.getElementById("DyastolicPress").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("battery").innerHTML = Math.floor(Math.random() * 100);
         document.getElementById("allarms").innerHTML = Math.floor(Math.random() * 10);

      } else if (xhr.status === 404) {
        console.log("No records found")
      }
    }

    //triggered when a network-level error occurs with the request
    xhr.onerror = function() {
      console.log("Network error occurred")
    }

    //triggered periodically as the client receives data
    //used to monitor the progress of the request
    xhr.onprogress = function(e) {
      if (e.lengthComputable) {
        console.log(`${e.loaded} B of ${e.total} B loaded!`)
      } else {
        console.log(`${e.loaded} B loaded!`)
      }
    }
    }

</script>
