html {
  font-size: 14px;
  font-family: 'Roboto';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.heart {
    color: whitesmoke;
    font-size: 50px;
    animation: heart-pulse 2s infinite ease-out;
}

@keyframes heart-pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.8);
    }
}

.pulsar {
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	box-shadow: 0 0 0 rgb(244,157,22);
	animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 74, 255, 0.5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 74, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 74, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 74, 255, 0.5);
        box-shadow: 0 0 0 0 rgba(0, 74, 255, 0.5);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 74, 255, 0);
        box-shadow: 0 0 0 10px rgba(0, 74, 255, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 74, 255, 0);
        box-shadow: 0 0 0 0 rgba(0, 74, 255, 0);
    }
}

.danger {
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 0 rgb(255, 0, 0, 0.7);
    animation: pulseDanger 1s infinite;
}



@-webkit-keyframes pulseDanger {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes pulseDanger {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.chart-container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: 80vw;
}